*.mp4
!assets/images/experiences/tsukuba/video_pick_and_place.mp4
!assets/images/projects/sumo/verif/Copy of Comportement.mp4
!assets/images/projects/sumo/verif/Copy of Vidéo_test_EXIG_ADVERSAIRE.mp4
!assets/images/projects/arrosage-automatique/Web.mp4
!assets/images/projects/arrosage-automatique/PXL_20251130_144935514.mp4
*.MOV
*.avi
*.mkv
scratch/
